@{
    ViewData["Title"] = "[ Featured Artist ]";
}
@using GalleryBLL.Models
@model GalleryWeb.Models.SingleArtist
    <body>
        <section class="py-5">
            <div class="container">
                <!-- Page Heading/Breadcrumbs-->
                <h1>Learn more about...</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">@Model.artist.Name</li>
                </ol>
                <!-- Intro Content-->
                <div class="row">
                    <div class="col-lg-6">
                    <img class="img-fluid rounded mb-4" 
                         src="@Model.artist.Url" 
                         alt="@Model.artist.Name" /></div>
                    <div class="col-lg-6">
                        <h2>@Model.artist.Name</h2>
                        <p>
                            Date of birth: @Model.artist.Bday
                            @*Native city: @Model.artist.City.Name* передать в модель города*@ 

                        </p>
                        <p>Some interesting facts about</p>
                        <p>smth he loved to eat for lunch</p>
                    </div>
                </div>
            </div>
        </section>

        <hr class="my-0" />
        <!-- Team Members Section-->
        <section class="py-5 bg-light">
            <div class="container">
                <h2 class="mb-4">Related Works</h2>
                <div class="row">
                    @foreach (PictureModel p in Model.artist.Pictures)
                    {
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <div class="card h-100 text-center">
                                <img class="card-img-top" src="@p.Url" alt="..." />
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-controller="Explore" asp-action="ShowPicture" asp-route-picId="@p.Id">
                                            @p.Name
                                        </a>
                                    </h4>
                                    <h6 class="card-subtitle mb-2 text-muted">@p.Genre</h6>
                                    <p class="card-text">@p.AddInfo</p>
                                </div>
                                <div class="card-footer"><a href="#!"></a></div>
                            </div>
                        </div>
            }
                </div>
            </div>
        </section>
        <hr class="my-0" />
        <!-- Our Customers Section-->
        <hr class="my-0" />
    </body>

