@using GalleryBLL.Models
@model GalleryWeb.Models.Pictures
@{
    ViewData["Title"] = "[ Collections ]";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/portfolio.css" rel="stylesheet" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <!-- Page Content-->
    <section class="py-5">
        <div class="container">
            <!-- Page Heading/Breadcrumbs-->
            <h1>
                Looking for something in particular?
                <small>...use advanced search!</small>
            </h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Advanced search</li>
            </ol>
            <!-- Content Row-->
            <div class="row">


                <!-- Sidebar Column-->
               

                <div class="col-lg-3 mb-4">
                    <h5 class="d-flex align-items-center mb-3">
                    Sort by:
                    </h5>

                    <ul class="list-group mb-3">
                        <a asp-controller="Explore" asp-action="SortAZ" class="list-group-item list-group-item-dark list-group-item-action active" aria-current="true">
                            Name(A->Z)
                        </a>
                        <a asp-controller="Explore" asp-action="SortAZ" class="list-group-item list-group-item-dark list-group-item-action">
                            Name(A->Z)
                        </a>

                        <li class="list-group-item lh-sm">
                            <a asp-controller="Explore" asp-action="SortZA">Name(Z->A)</a>
                        </li>
                    </ul>
                    <hr class="my-0" />
                    <hr class="my-0" />

                    <h5  class="d-flex align-items-center mb-3">Filter by genres:</h5>

                    <ul class="list-group mb3">
                        <li class="list-group-item lh-sm">
                            <a asp-controller="Explore" asp-action="Collections">
                                <b>Clear filter</b>
                            </a>
                        </li>
                        @{
                            var tempList = new List<string>();
                        }
                        @foreach (PictureModel p in Model.pics)
                        {
                            if (!tempList.Contains(p.Genre))
                            {
                                tempList.Add(p.Genre);

                                <li class="list-group-item lh-sm">
                                    <a asp-controller="Explore" asp-action="FilterByGenre"
                                       asp-route-genreName="@p.Genre">@p.Genre
                                    </a>
                                </li>
                            }

                        }
                    </ul>
                </div>

                <!-- Content Column-->
                <div class="col-lg-9 mb-4">
                    <h2>Pieces of art filtered by: </h2>
                    <section class="py-5">
                        <div class="container">

                            @{
                                int rows = Model.pics.Count() / 4;
                                int num;
                            }

                            <div class="row">
                                <div class="column">
                                    @for (int i = 0; i < rows; i++)
                                    {
                                        num = (4 * i);
                                        <img src="@Model.pics[num].Url" alt="@Model.pics[num].Name" style="width:100%">
                                        <div class="card-footer">
                                            <a asp-controller="Explore" asp-action="ShowPicture"
                                               asp-route-picId="@Model.pics[num].Id">@Model.pics[num].Name</a>
                                        </div>
                                    }

                                    @if ((Model.pics.Count() - (rows * 4)) > 0)
                                    {
                                        num = (rows * 4);
                                        <img src="@Model.pics[num].Url" alt="@Model.pics[num].Name" style="width:100%">
                                    }
                                </div>
                                <div class="column">
                                    @for (int i = 0; i < rows; i++)
                                    {
                                        num = (4 * i) + 1;
                                        <img src="@Model.pics[num].Url" alt="@Model.pics[num].Name" style="width:100%">
                                    }

                                    @if ((Model.pics.Count() - (rows * 4 + 1)) > 0)
                                    {
                                        num = (rows * 4) + 1;
                                        <img src="@Model.pics[num].Url" alt="@Model.pics[num].Name" style="width:100%">
                                    }
                                </div>
                                <div class="column">
                                    @for (int i = 0; i < rows; i++)
                                    {
                                        num = (4 * i) + 2;
                                        <img src="@Model.pics[num].Url" alt="@Model.pics[num].Name" style="width:100%">
                                    }

                                    @if ((Model.pics.Count() - (rows * 4 + 2)) > 0)
                                    {
                                        num = (rows * 4) + 2;
                                        <img src="@Model.pics[num].Url" alt="@Model.pics[num].Name" style="width:100%">
                                    }
                                </div>
                                <div class="column">
                                    @for (int i = 0; i < rows; i++)
                                    {
                                        num = (4 * i) + 3;
                                        <img src="@Model.pics[num].Url" alt="@Model.pics[num].Name" style="width:100%">
                                    }
                                </div>
                            </div>



                            <!-- Pagination-->
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#!">1</a></li>
                                <li class="page-item"><a class="page-link" href="#!">2</a></li>
                                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </section>
</body>
