@using GalleryBLL.Models
@model GalleryWeb.Models.SingleExh
@{
    ViewData["Title"] = "[ Exhibition ]";
}
<link rel="stylesheet" href="~/css/portfolio.css" />

<section class="py-5">
    <div class="container">
        <!-- Page Heading/Breadcrumbs-->
        <h1>
            @Model.Exhibition.Name
            <small>@Model.CurrentExhibition.Tag</small>
            <a class="btn btn-primary float-end" role="button" asp-controller="Cart" asp-action="BuyTicket"
               asp-route-curExId="@Model.CurrentExhibition.Id" asp-route-quantity="1">Get a ticket</a>
        </h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Name</li>
        </ol>
        <!-- Image Header-->
        <div class="row">
            <div class="container">
                <img class="img-fluid rounded mb-4" src="@Model.Exhibition.Thumbnail" alt="@Model.Exhibition.Name" />
            </div>
            <div class="container">
                <p>
                     @Model.Message
                </p>
            </div>
        </div>
        <!-- Marketing Icons Section-->
        <div class="row">
            @foreach (ExhibitedPictureModel p in Model.Pictures)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100" class="container">
                        <a asp-controller="Explore" asp-action="ShowPicture" asp-route-picId="@p.Picture.Id">
                            <img class="card-img-top" src="@p.Picture.Url" alt="@p.Picture.Name" />
                        </a>
                    </div>
                </div>
            }
        </div>
</section>