@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using GalleryBLL.Models
@model GalleryWeb.Models.HomePageModel


<link href="~/css/buttons.css" rel="stylesheet" />

<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for (int i = 0; i < Model.Exhibitions.Count; i++)
            { 
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i" class="@(i == 0 ? "active":"")" aria-current="true" aria-label="Slide @i"></button>
            }
        </div>
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Exhibitions.Count; i++)
            {
                for (int j = 0; j < Model.Exhibitions[i].CurrentExhibitions.Count; j++)
                {
                    if (Model.Exhibitions[i].CurrentExhibitions[j].DateBegin < DateTime.Now)
                    {
                        <div class="carousel-item @(i == 0 ? "active" : "")">
                            <a asp-controller="Explore" asp-action="ShowCExhibition" asp-route-eId="@Model.Exhibitions[i].Id"
                               asp-route-ceId="@Model.Exhibitions[i].CurrentExhibitions[j].Id"
                               style="padding: 0px 0px 0px 0px;">
                                <img class="d-block w-100" src="@Model.Exhibitions[i].Thumbnail" alt="..." />
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>@Model.Exhibitions[i].Name</h3>
                                <p>Held from @Model.Exhibitions[i].CurrentExhibitions[j].DateBegin  to @Model.Exhibitions[i].CurrentExhibitions[j].DateEnd</p>
                            </div>
                        </div>
                    }

                }

            }

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    @*<div class="carousel slide" id="carouselExampleIndicators" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Exhibitions.Count; i++)
            {
                if (i == 0)
                {
                    <li class="active" data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                }
                else
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="@i" class=""></li>
                }
            }
        </ol>
            
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Exhibitions.Count; i++)
            {
                for(int j=0; j<Model.Exhibitions[i].CurrentExhibitions.Count; j++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <a asp-controller="Explore" asp-action="ShowCExhibition" asp-route-eId="@Model.Exhibitions[i].Id" 
                           asp-route-ceId="@Model.Exhibitions[i].CurrentExhibitions[j].Id" 
                           style="padding: 0px 0px 0px 0px;">
                            <img class="d-block w-100" src="@Model.Exhibitions[i].Thumbnail" alt="..." />
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h3>@Model.Exhibitions[i].Name</h3>
                            <p>Held from @Model.Exhibitions[i].CurrentExhibitions[j].DateBegin.Value.Day  to @Model.Exhibitions[i].CurrentExhibitions[j].DateEnd.Value.Date</p>
                        </div>
                    </div>
                }
                
            }

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>*@

        <!-- Page Content-->
        <section class="py-5">
            <div class="container">
                <h1 class="mb-4">Galleries and Museums We cooperate with</h1>
                <!-- Marketing Icons Section-->
                <div class="row">
                    @*@foreach (NewsModel news in Model.NewsItems)
                    {
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <div class="card h-100">
                                <h4 class="card-header">@news.Name</h4>
                                <div class="card-body"><p class="card-text">@news.Description</p></div>
                                <div class="card-footer"><a class="btn btn-primary" href="#!">Learn More</a></div>
                            </div>
                        </div>
                    }*@
                    <div class="row">                        
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <div class="card h-100">
                                <h4 class="card-header">@Model.places[3].Name</h4>
                                <div class="card-body"><p class="card-text">
                                    @Model.places[3].Description</p></div>
                                <div class="card-footer">
                                    @*<a class="btn btn-primary" href="#!">Learn More</a>*@

                                    <div class="btn-2" role="button" style="padding: 5px; align-self:flex-start">
            <a asp-controller="Home" asp-action="Contacts"><span>Learn more</span></a>
        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <div class="card h-100">
                                <h4 class="card-header">@Model.places[5].Name</h4>
                                <div class="card-body"><p class="card-text">
                                    @Model.places[5].Description</p></div>
                                <div class="card-footer">
                                    <div class="btn-2" role="button" style="padding: 5px; align-self:flex-start">
                                        <a asp-controller="Home" asp-action="Contacts"><span>Learn more</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <div class="card h-100">
                                <h4 class="card-header">@Model.places[6].Name</h4>
                                <div class="card-body"><p class="card-text">
                                    @Model.places[6].Description</p></div>
                                <div class="card-footer">
                                    <div class="btn-2" role="button" style="padding: 5px; align-self:flex-start">
                                        <a asp-controller="Home" asp-action="Contacts"><span>Learn more</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </section>
        <hr class="my-0" />
        <!-- Portfolio Section-->
        <section class="py-5 bg-light">
            <div class="container">
                <h2 class="mb-4">Future exhibitions</h2>
                <div class="row">
                    @foreach (ExhibitionModel e in Model.Exhibitions)
                    {
                        foreach (CurrentExhibitionModel c in e.CurrentExhibitions)
                        {
                            if (c.DateBegin > DateTime.Now)
                            {
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <div class="card h-100">
                                        <img class="card-img-top" src="@e.Thumbnail" alt="..." />
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a asp-controller="Explore" asp-action="ShowCExhibition" asp-route-eId="@e.Id" asp-route-ceId="@c.Id">@e.Name</a>
                                            </h4>
                                            <p class="card-text">Ticket price: @e.Price UAH</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </section>
        <hr class="my-0" />

        <!-- Features Section-->
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-4">Our Features</h2>
                        <p>The super modern online gallery site includes:</p>
                        <ul>
                            <li><strong>Bootstrap 5.0.1</strong></li>
                            <li>jQuery 3.5.1</li>
                            <li>Font Awesome 5.15.3</li>
                            <li><strong>Awesome developer team(accounted by 1 person)</strong></li>
                            <li>Working contact form with validation</li>
                            <li>Working multy-argument filtering by JavaScript</li>
                        </ul>
                        <p>I worked hard to accomplish the task, built a big database and slept ~20 hours for the last 8 days.</p>
                        <p>Also I would be grateful for comments and improvement suggestions! </p>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid rounded" src="~/photo_2021-05-31_00-37-50.jpg"
                             alt="..." />
                    </div>
                </div>
            </div>
            
        </section>

        <hr class="my-0" />
        <!-- Call to Action-->
        <aside class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                    <p><strong>Wanna be a part of our promising team? Or you are a gallery owner, eager to host an event and to be advertised? </p>
                    <p>Contact us! We look forward to cooperate with you :)</strong></p>
                    </div>
                    <div class="col-md-4 btn-2"><a  asp-controller="Home" asp-action="Contacts"><span>Contact us here</span></a></div>
                </div>
            </div>
        </aside>
