@model GalleryWeb.Models.CEViewModel

@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css" rel="stylesheet" crossorigin="anonymous">

<link href="~/css/buttons.css" rel="stylesheet" />
<p></p>
<h1>Overview</h1>

<div class="btn-1" role="button" style=" text-align: center">
    <a asp-controller="CurrentExhibitionsAdmin" asp-action="Create"><span>Create new</span></a>
</div>
<table id="table" class="table">
    <thead>
        <tr>
            <th>
                Date begin
            </th>
            <th>
                Date End)
            </th>
            <th>
                Current Ticket quantity
            </th>
            <th>
                Estimated price
                (based on pics)
            </th>
            <th>
                Status
            </th>
            <th>
                Employee
            </th>
            <th>
                Name
            </th>
            <th>
               Place
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ceContext)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBegin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxTicketQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exhibition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExhibitPlace.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>